@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--text-color: #0f172a;
	--text-secundary-color: #86198f;
	--fuchsia-600: #c026d3;
}
